<%
@images = site.sections.find_by_name("main").images unless @images and @images.any?
%>
<div class="navbar">
  <div class="navbar-inner">
    <div class="row-fluid">
      <% if !is_mobile_view? && @images.any? %>
      <div class="hide-on-mobile" id="banners">
        <%= render 'images/shared/carousel', :images => @images, :image_style => "980x300#" %>
      </div>
      <% end %> 
      <div class="header-top">
        <div class="header-top-inner">
          <%#= render 'shared/login_bar' %>
          <%= render 'shared/locales_select' %>
        </div>
      </div>
    <div class="header-nav">
        <!-- Be sure to leave the brand out there if you want it shown -->
        <%= render 'shared/site_title' %> 
        <h4 id="site-subtitle" class="hide-on-mobile"><%= site.subtitle if site.subtitle.present? %></h4> 
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span><%= t(:navigation_menu) %><i class="icon-chevron-down icon-white"></i></span>
        </a>
        <!-- Everything you want hidden at 940px or less, place within here -->
       <div class="nav-collapse"> 
          <!-- .nav, .navbar-search, .navbar-form, etc --> 
          <%= render 'shared/primary_menu' %>
          <%= render 'shared/pipe_menu', :mobile_behaviour => "show-on-mobile" %>
          <%= render 'shared/tools_menu', :mobile_behaviour => "show-on-mobile" %>
       </div>
     </div>    
    </div>
  </div>
</div>