<% 
@newsletters_section = site.sections.find_by_name("newsletters")
@latest_newsletter =  @newsletters_section.document_items.order('document_items.published_at ASC').with_language(::I18n.locale).first
@latest_newsletter ||=  @newsletters_section.document_items.order('document_items.published_at ASC').first
%>
<div class="row-fluid">
  <section class="span3">
    <% if @latest_newsletter and @latest_newsletter.document.present? %>
      <div class="latest_newsletter list-view-files hide-on-phones" style="min-height:1px;">
        <div class="entry-thumb <%= 'missing-document-preview' unless @latest_newsletter.thumbnail.present? %>"> 
          <%= image_tag(@latest_newsletter.thumbnail.url) if @latest_newsletter.thumbnail.present? %> 
        </div> 
        <%= render_record_title(@latest_newsletter, :show_link => false) %>
        <div class="entry-links">
          <%= link_to(t(:download_file), @latest_newsletter.document.url, :class => 'download') %>
<%= @latest_newsletter.language %>
        </div>
       </div>
    <% end %>  
  </section>
  <section class="span9">
    <% if resource.body.present? %>
      <div class="page_content">
        <%= resource_body_tag do %>
          <%= render_html_text(resource.body) %>
        <% end %> 
      </div> 
    <% end %> 
  </section>
</div>